name: Pipeline SecDevOps Completa (Node.js + Docker Hub)

on:
  push:
    branches: [ main, master ]

jobs:
  seguretat:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del codi
        uses: actions/checkout@v4
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.4.0

      - name: Sign image with Cosign
        run: |
          # Aquesta línia fa el login específic per a l'eina Cosign
          cosign login index.docker.io -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          
          # Ara signem la imatge forçant l'ús d'aquest login
          cosign sign --yes --tlog-upload=false --key env://COSIGN_PRIVATE_KEY ${{ secrets.DOCKERHUB_USERNAME }}/todolist-secdevops:latest
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          
      # ETAPA 1: Secrets
      - name: Gitleaks (Detecció de secrets)
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # ETAPA 2: SCA (Vulnerabilitats npm)
      - name: Trivy (Escaneig de dependències)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'table'
          severity: 'HIGH,CRITICAL'

      # ETAPA 3: SBOM
      - name: Generar SBOM (Syft)
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: 'cyclonedx-json'
          artifact-name: 'sbom-node-project.json'

      # ETAPA 4: Registre de Contenidors (Petició del Professor)
      - name: Login a Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build i Push a Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Substitueix 'usuari' pel teu nom de Docker Hub o usa la variable:
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/todolist-secdevops:latest
